/*
* Fixes for logo design
*/
.euiHeaderLogo .euiHeaderLogo__icon {
    height: 60px;
    width: 60px;
}

.euiHeaderLogo .euiHeaderLogo__text {
    padding-left: 10px;
}

.sub-table {
    margin: 0.3em 0 0.7em 2.5em;
}

.lang-code {
    width: 1.8em;
    font-weight: bold;
}

/*
 * Fix nested tables hover highlighting
 */
.euiTableRow.euiTableRow-isExpandedRow table .euiTableRowCell {
    background-color: inherit;
}

.diff-view {
    tab-size: 4;
}
