/*
* Fixes for logo design
*/
.euiHeaderLogo .euiHeaderLogo__icon {
    height: 60px;
    width: 60px;
}

.euiHeaderLogo .euiHeaderLogo__text {
    padding-inline-start: 10px;
}

.sub-table {
    margin-block-start: 0.3em;
    margin-block-end: 0.7em;
    margin-inline-start: 2.5em;
    margin-inline-end: 0;
}

.lang-code {
    width: 1.8em;
    font-weight: bold;
}

/*
 * Fix nested tables hover highlighting
 */
.euiTableRow.euiTableRow-isExpandedRow table .euiTableRowCell {
    background-color: inherit;
}

.diff-view {
    tab-size: 4;
}
